<div class="mb-16 md:mb-40">
  <h2 class="text-white font-bold text-2xl pb-2 md:pb-4">Technologies</h2>
  <div class="flex flex-col md:flex-row md:gap-5">
    <div class="flex-col md:w-1/2">
        <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4">
          <div class="mr-3">
            <img src="../../../assets/images/technology1.svg" class="w-12 h-12 md:w-16 md:h-16" />
          </div>
          <div>
            <h2 class="font-bold text-lg md:text-xl">Speech and intent recognition</h2>
            <p>
              AI determines what and how the client says in order to find or create a suitable communication pattern
            </p>
          </div>
        </div>
        <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4">
          <div class="mr-3">
            <img src="../../../assets/images/technology2.svg" class="w-12 h-12 md:w-16 md:h-16" />
          </div>
          <div>
            <h2 class="font-bold text-lg md:text-xl">AI manager analytics</h2>
            <p>
              Automatic analysis of live conversations of operators and customer loyalty in real time.            </p>
          </div>
        </div>
    </div>

    <div class="flex-col md:w-1/2">
      <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4">
        <div class="mr-3">
          <img src="../../../assets/images/technology3.svg" class="w-12 h-12 md:w-16 md:h-16"/>
        </div>
        <div>
          <h2 class="font-bold text-lg md:text-xl">Speech and intent recognition</h2>
          <p>
            AI determines what and how the client says in order to find or create a suitable communication pattern
          </p>
        </div>
      </div>
      <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4 ">
        <div class="mr-3">
          <img src="../../../assets/images/technology4.svg" class="w-12 h-12 md:w-16 md:h-16" />
        </div>
        <div>
          <h2 class="font-bold text-lg md:text-xl">Segmentation of the customer base with AI</h2>
          <p>
            Determining the optimal product, sales model and communication time for each customer segment            </p>
        </div>
      </div>
    </div>
  </div>
</div>
