<div class="mb-40">
  <h2 class="text-white font-bold text-2xl pb-4">Technologies</h2>
  <div class="flex gap-5">
    <div class="flex-col">
        <div class="flex bg-container-bg-color bg-opacity-50 mb-6 rounded-xl p-4">
          <div class="mr-3">
            <img src="../../../assets/images/technology1.svg" />
          </div>
          <div>
            <h2 class="font-bold text-lg">Speech and intent recognition</h2>
            <p>
              AI determines what and how the client says in order to find or create a suitable communication pattern
            </p>
          </div>
        </div>
        <div class="flex bg-container-bg-color bg-opacity-50 mb-6 rounded-xl p-4">
          <div class="mr-3">
            <img src="../../../assets/images/technology2.svg" />
          </div>
          <div>
            <h2 class="font-bold text-lg">AI manager analytics</h2>
            <p>
              Automatic analysis of live conversations of operators and customer loyalty in real time.            </p>
          </div>
        </div>
    </div>

    <div class="flex-col ">
      <div class="flex bg-container-bg-color bg-opacity-50 mb-6 rounded-xl p-4">
        <div class="mr-3">
          <img src="../../../assets/images/technology3.svg" />
        </div>
        <div>
          <h2 class="font-bold text-lg">Speech and intent recognition</h2>
          <p>
            AI determines what and how the client says in order to find or create a suitable communication pattern
          </p>
        </div>
      </div>
      <div class="flex bg-container-bg-color bg-opacity-50 mb-6 rounded-xl p-4">
        <div class="mr-3">
          <img src="../../../assets/images/technology4.svg"/>
        </div>
        <div>
          <h2 class="font-bold text-lg">Segmentation of the customer base with AI</h2>
          <p>
            Determining the optimal product, sales model and communication time for each customer segment            </p>
        </div>
      </div>
    </div>
  </div>
</div>
