<div class="mb-16 md:mb-40">
  <h2 class="text-white font-bold text-2xl pb-2 md:pb-4">Our Technology</h2>
  <div class="flex flex-col md:flex-row md:gap-5">
    <div class="flex-col md:w-1/2">
        <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4">
          <div class="mr-3">
            <img src="assets/images/technology1.svg" class="w-12 h-12 md:w-16 md:h-16" />
          </div>
          <div>
            <h2 class="font-bold text-lg md:text-xl">Speech and Intent Recognition</h2>
            <p>
              Leveraging advanced AI technology, we interpret not just the content but also the nuances of your clients' speech, enabling us to create customized communication patterns that truly resonate with their preferences.
            </p>
          </div>
        </div>
        <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4">
          <div class="mr-3">
            <img src="assets/images/technology2.svg" class="w-12 h-12 md:w-16 md:h-16" />
          </div>
          <div>
            <h2 class="font-bold text-lg md:text-xl">AI manager analytics</h2>
            <p>
              Instantaneous automated analysis of live conversations between operators and customers for deeper insights into customer loyalty.
            </p>
          </div>
        </div>
    </div>

    <div class="flex-col md:w-1/2">
      <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4">
        <div class="mr-3">
          <img src="assets/images/technology3.svg" class="w-12 h-12 md:w-16 md:h-16"/>
        </div>
        <div>
          <h2 class="font-bold text-lg md:text-xl">Speech Synthesis</h2>
          <p>
            Following thorough training, our AI is adeptly calibrated to use your team's voices, producing dynamically generated phrases that carry an authentic and natural tone.
          </p>
        </div>
      </div>
      <div class="flex bg-container-bg-color bg-opacity-50 mb-4 md:mb-6 rounded-xl p-4 ">
        <div class="mr-3">
          <img src="assets/images/technology4.svg" class="w-12 h-12 md:w-16 md:h-16" />
        </div>
        <div>
          <h2 class="font-bold text-lg md:text-xl">Segmentation of the customer base with AI</h2>
          <p>
            Utilizing the prowess of AI, we excel in pinpointing the ideal product, sales approach, and communication timing, all meticulously tailored to suit each distinct customer segment.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
