<div class="px-4 md:px-40 ">
  <div class="flex justify-between items-center ">
    <div>
      <img src="assets/images/Frame%20636.svg" />
    </div>
    <div class="md:flex md:flex-col hidden">
      <p>349 5th Avenue , </p>
      <p>New York, NY 10016 </p>
    </div>
    <div class="flex items-center gap-4">
      <span class="hidden md:flex">contact us:</span>
      <span class="bg-border-color py-1 px-3 rounded-xl hidden md:flex">+1(914)297-97-81</span>
      <span class="bg-border-color py-1 px-3 rounded-xl">info@stellartech.ai</span>
    </div>
  </div>
</div>

