<div class="mb-40">
  <h2 class="font-bold text-2xl mb-5">
    How the system tools work
  </h2>
  <div class="flex gap-5">
    <div *ngFor="let tool of tools" class="bg-container-bg-color bg-opacity-50 w-1/3 9 mb-6 rounded-xl p-4">
      <div class="flex mb-5 h-1/2 w-2/3">
        <img src="{{tool.image}}" />
      </div>
      <h2 class="text-lg font-semibold mb-5">{{tool.title}}</h2>
      <p>{{tool.text}}</p>
    </div>
  </div>
  <div class="flex gap-5">
    <div class="bg-container-bg-color bg-opacity-50 9 mb-6 rounded-xl p-4 w-1/3">
      <h2 class="text-lg font-semibold mb-5">
        Text Chatbots
      </h2>
      <p>
        Automation of processing applications for a commercial product based on customer base
      </p>
    </div>
    <div class="w-2/3 bg-container-bg-color bg-opacity-50 9 mb-6 rounded-xl p-4">
      <h2 class="text-lg font-semibold mb-5">
        Voice robots
      </h2>
      <div class="flex p-4 gap-5">
        <ul class="w-1/3">
          <li *ngFor="let option of options" [ngClass]="option.active ? 'bg-border-color rounded-xl p-2' : ' p-2'" class="mb-5]">
            {{option.name}}
          </li>
        </ul>
        <div class="flex flex-col">
          <p class="mb-5">Automation of the process of attracting new drivers to the taxi company.</p>
          <div>
            <img src="assets/images/player.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
