<div class="flex items-center justify-center">
  <div class="mb-40">
    <div class="flex flex-col text-center">
      <div class="flex justify-center mb-10">
        <img src="assets/images/Component%201.svg" />
      </div>
      <div class="flex flex-col items-center mb-10">
        <h1 class="font-bold text-5xl mb-10">We improve the effectiveness of client communication using AI technology</h1>
        <p class="w-1/2">We help with design and automation of a customer journey using artificial intelligence. As a result, the client gets boosted conversion and reduced business costs</p>
      </div>
      <div class="flex justify-center mb-10 gap-5">
        <button class="bg-button-color bg-opacity-70 p-4 rounded-3xl px-8 text-white">Request your demo</button>
        <button class="bg-container-bg-color bg-opacity-50 p-4 rounded-3xl px-8 text-white">How it works?</button>
      </div>
    </div>
  </div>

</div>
