<div class="mb-16 md:mb-40">
  <h2 class="font-bold text-2xl mb-10">
    Getting Started
  </h2>
  <div class="flex flex-col md:flex-row md:justify-center gap-10">
    <div class="bg-container-bg-color bg-opacity-50 rounded-xl p-4 relative flex flex-col">
      <p class="text-active-tab-color mb-5">1st Step</p>
      <h2 class="font-bold text-xl md:text-2xl mb-2">
        Introductions
      </h2>
      <p class="mb-4 md:mb-16">Schedule a meeting with our manager to discuss your business requirements, our terms, software, and the contract.</p>
      <button class="font-semibold bg-button-color bg-opacity-70 p-4 rounded-3xl px-8 w-full" (click)="openModal()">Get Started Now</button>
    </div>
    <div class="bg-container-bg-color bg-opacity-50 rounded-xl p-4 relative flex flex-col">
      <div class="absolute right-0 top-[-12%]">
        <img src="assets/images/start-work2.svg" />
      </div>
      <p class="text-active-tab-color mb-5">2nd Step</p>
      <h2 class="font-bold text-xl md:text-2xl mb-2">
        Going Live
      </h2>
      <p class="mb-4 md:mb-16">Post signing of the contract and NDA, we will delve into your scenario, craft a script tailored to your needs, test it, and initiate the live process.</p>
      <button class="font-semibold bg-container-bg-color bg-opacity-70 p-4 rounded-3xl px-8 w-full" (click)="openModal()">Get a consultation</button>
    </div>
    <div class="bg-container-bg-color bg-opacity-50 rounded-xl p-4 relative flex flex-col">
      <p class="text-active-tab-color mb-5">3rd Step</p>
      <h2 class="font-bold text-xl md:text-2xl mb-2">
        Post Launch
      </h2>
      <p class="mb-4 md:mb-16">Throughout the project, our Customer Success Managers will assist you in testing and fine-tuning the script or campaign to ensure optimal performance.</p>
      <button class="font-semibold bg-container-bg-color bg-opacity-50 p-3 rounded-3xl md:p-4 px-6 w-full" (click)="openModal()">Get a consultation</button>
    </div>
  </div>
</div>
