<div class="mb-40">
  <h2 class="font-bold text-2xl mb-5">
    How to start the work?
  </h2>
  <div class="flex gap-10">
    <div class="bg-container-bg-color bg-opacity-50 rounded-xl p-4">
      <p class="text-active-tab-color mb-5">Easy start</p>
      <h2 class="font-bold text-2xl mb-5">
        Free dialogue automation on a ready-made script
      </h2>
      <p class="mb-16">We analyzed over 2,000,000 conversations across 10 industries to cover 99% of customer communication development options.</p>
      <button class="bg-button-color bg-opacity-70 p-4 rounded-3xl px-8 w-[100%]">Request your demo</button>
    </div>
    <div class="bg-container-bg-color bg-opacity-50 rounded-xl p-4">
      <p class="text-active-tab-color mb-5">Individual solution</p>
      <h2 class="font-bold text-2xl mb-5">
        Development of a communication script with clients
      </h2>
      <p class="mb-16">Flexible configuration and deep analytics of your processes will help you to create the ideal client communication script</p>
      <button class="bg-container-bg-color bg-opacity-50 p-4 rounded-3xl px-8 w-[100%]">Get a consultation</button>
    </div>
  </div>
</div>
