<div class="mb-16 md:mb-40">
  <h2 class="font-bold text-2xl mb-5">Key benefits</h2>
  <div class="flex flex-col md:items-start md:flex-row-reverse ">
    <div class="flex flex-col gap-5 md:w-[100%] md:mr-10">
      <div>
        <p class="text-active-tab-color">Our goal</p>
        <p>
          Our Goal is to
          <br/>- Boost your Sales
          <br/>- Reduce Costs
          <br/>- Grow your Clientele
          <br/>- Enhance the Customer Experience
          <br/>- Increase Operational Efficiency
          <br/>- Provide Data-driven Insights
        </p>
        <p class="mt-2">
          through a Streamlined Solution powered by Artificial Intelligence
        </p>
      </div>
    </div>
    <div>
      <ul class="flex flex-wrap">
        <li *ngFor="let category of categories" [ngClass]="!category.active ? 'bg-border-color' : 'bg-li-color' " class="px-2 py-1 mr-4 mb-3 border-li-color border-2 rounded-xl md:mr-10 md:mb-5">
          {{category.name}}
        </li>
      </ul>
    </div>

  </div>

</div>
