<div class="bg-container-bg-color p-5 md:w-[50vw] mx-auto">
  <div class="bg-container-bg-color rounded-2xl">
    <!--  title-->
    <div class="flex justify-between items-center mb-5">
      <div>
        <h2 class="text-lg w-[75%] md:w-auto font-semibold">Fill out the form to Get Started</h2>
      </div>
      <div>
        <button matDialogClose="">
          <img src="assets/images/closesquare.svg" />
        </button>
      </div>
    </div>

    <!--  content-->
    <form [formGroup]="formGroup" class="flex flex-col gap-5">
      <div class="mb-3">
        <input class="w-full bg-input-bg border-input-border border-opacity-40 rounded-xl px-4 py-2 border" id="first-name" type="text" formControlName="name" placeholder="Name">
      </div>

      <div class="mb-3">
        <input class="w-full bg-input-bg border-input-border border-opacity-40 rounded-xl px-4 py-2 border" id="phone_number" type="text" formControlName="phone_number" placeholder="Phone number">
      </div>

      <div class="mb-3">
        <input class="w-full bg-input-bg border-input-border border-opacity-40 rounded-xl px-4 py-2 border" id="email" type="text" formControlName="email" placeholder="Email address">
      </div>

      <button class="w-full bg-button-color rounded-xl p-2">
        Submit
      </button>
    </form>
  </div>
</div>
