/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  color: white;
}
body { margin: 0; font-family: 'Montserrat', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

img.slideshow-image {
  max-width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.custom-bg {
  background: radial-gradient(circle, rgba(0, 221, 255, 0.2), rgba(0, 221, 255, 0.2)),
  #07071c; /* Replace with your desired colors */

  /* Other styling properties */
  width: 100%; /* Set the width and height of the element as needed */
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Start with the sidebar hidden */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: transform 0.3s ease-in-out; /* Add the transition */
}

.sidebar.open {
  transform: translateX(0); /* Slide the sidebar in when it's open */
}

.animate-in {
  transform: scale(1);
  opacity: 1;
}

.sound-wave-pattern {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}
